body {
  line-height: 2;
}

.container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
}

.selectors {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.selector-row {
  display: flex;
}
